{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/jar_detail.css' %}" />
{% endblock %}

{% block title %}
  Додати гроші у банку
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="box rounded-0">
          <div class="col-header">
            <h2>{{ jar.title }}</h2>
            <a href="{% url 'jars:add_money' jar.slug %}" class="btn-green btn-small">Поповнити</a>
          </div>

          <div class="box-grey">
            <div class="box-grey__info">
              Баланс <span class="fw-bold fs-5">{{ jar.balance }} UAN</span>
            </div>

            <div class="progress my-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{ jar.progress }}" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ jar.progress }}%">{{ jar.progress }}%</div>
            </div>
            
            <div class="box-grey__info">
              Мета <span>{{ jar.goal }} UAN</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
