{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/jar_detail.css' %}" />
{% endblock %}

{% block title %}
  Банки
{% endblock %}

{% block content %}
  <section class="container">
    {% if jars %}
      <h2 class="pb-2 mb-4 fw-semibold border-bottom">Мої банки</h2>
      <div class="row g-4">
        {% for jar in jars %}
          <div class="col-lg-4 col-md-6">
            <div class="card shadow">
              <div class="card-body">
                <h3 class="card-title">{{ jar.title }}</h3>
                <h6 class="card-subtitle mb-2 text-body-secondary">Мета: <span>{{ jar.goal|format_number }} UAN</span></h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">Баланс: <span>{{ jar.balance|format_number }} UAN</span></h6>
                <div class="progress" role="progressbar" aria-valuenow="{{ jar.progress }}" aria-valuemin="0" aria-valuemax="100" style="height: 10px;">
                  <div class="progress-bar" style="width: {{ jar.progress }}%; background: var(--gold)"></div>
                </div>
                <p class="card-text__progress">Прогресс: {{ jar.progress }}%</p>
                <div class="d-grid mt-3">
                  <a href="{% url 'jars:detail' jar.slug %}" class="btn btn-outline-green">Відкити банку</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="col-12 text-center">
        <h1 class="box__title fs-2">У вас поки що не має банок</h1>
        <a href="{% url 'jars:create' %}" class="btn-gold mt-3">Створити першу банку</a>
      </div>
    {% endif %}
  </section>
{% endblock %}
