@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background: #f9fbfc;
    --background: #fafafa;
    --altbackground: #f2f5fb;
    --foreground: #465c58;
    --gold: hsl(43, 99%, 50%);
    --gold: hsl(47, 100%, 55%);
}

body {
    background: var(--foreground);
    font-family: "Inter", sans-serif;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ----------------------------------- SIDEBAR -------------------------------------- */
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: var(--foreground);
    transition: all 0.2s ease;
}

.sidebar__nav {
    padding-left: 0;
}

.sidebar:hover~.main-content,
.sidebar.active~.main-content {
    left: 250px;
    width: calc(100% - 270px);
}

.sidebar.active,
.sidebar:hover {
    width: 250px;
}

.sidenav-section {
    width: 16px;
    height: 16px;
    list-style: none;
    border-radius: 50%;
    background: #dce7e7;
    margin-left: 20px;
    color: transparent;
    letter-spacing: .1em;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    transform: scale(.5);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    transition: all .4s ease;
}

.sidebar:hover .sidenav-section,
.sidebar.active .sidenav-section {
    color: #dce7e7;
    width: inherit;
    transform: scale(1);
    background: transparent;
}

.sidebar__item {
    position: relative;
    list-style-type: none;
    height: 50px;
}

.sidebar__link {
    display: flex;
    align-items: center;
    gap: .4rem;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    padding-left: 1.2rem;
    height: 48px;
}

.sidebar.active .sidebar__link.active,
.sidebar:hover .sidebar__link.active {
    background-color: var(--gold);
    color: #000;
    border-radius: 0;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.sidebar__link--icon {
    padding: .5rem;
    border-radius: 50%;
}

.sidebar__link.active .sidebar__link--icon {
    background-color: var(--gold);
    color: #000;
}

.sidebar__link span {
    opacity: 0;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar__link:hover,
.sidebar__link.active:hover {
    background-color: #fff;
    color: #12171e;
    border-radius: 0;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.sidebar.active .sidebar__link,
.sidebar:hover .sidebar__link {
    width: 95%;
}

.sidebar:hover .sidebar__link span,
.sidebar.active .sidebar__link span {
    opacity: 1;
}


/*  */
.sidebar__btn-close {
    display: none;
    color: var(--altbackground);
    font-size: 1.8rem;
    border: 0;
    background-color: transparent;
}



.toggler-btn {
    border-radius: 50%;
    border: 0;
    transition: all .3s;
    background: transparent;
    padding: 8px 10px;
}

.toggler-btn:hover {
    background-color: hsla(0, 0%, 59%, 0.5);
}

/* ------------------------------- MAIN ---------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /* background: var(--background); */
    background-color: var(--foreground);
    padding: 1.15rem 1.2rem;
    z-index: 100;
}

.navbar__logo {
    margin-left: 1.5rem;
    margin-right: auto;
    max-width: 120px;
}

.navbar__logo img {
    width: 100%;
}

.navbar__username {
    text-decoration: none;
    color: #ffffff;
    transition: all .2s ease-in-out;
}

.navbar__username:hover {
    color: var(--gold);
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--foreground);
    height: calc(100vh - 100px);
}

.main-content {
    overflow-y: auto;
    background: var(--background);
    border-radius: 1.5rem;
    height: calc(100vh - 100px);
    padding: 2rem 0;
    position: relative;
    /* top: 0; */
    left: 80px;
    transition: all .5s;
    width: calc(100% - 100px);
}


/* Stats */
.stats {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    border-left: 1px solid hsl(0, 0%, 90%);
}

.stats__text {
    font-weight: 500;
    font-size: 0.8rem;
    color: #dce7e7;
}

.stats__number {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.025em;
}

/* Transactions */
.transaction {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border-radius: 0.35rem;
    border-left: 5px solid transparent;
    padding: 1.5rem;
    font-weight: 500;
    transition: 0.3s ease;
}

.transaction.is_income {
    border-color: rgb(34 197 94);
    background-color: rgb(220 252 231);
    transition: all .1s ease-in-out;
}

.transaction.is_income:hover {
    background-color: rgb(174 234 170);
    border-color: rgb(34 197 94);
    box-shadow: 0 4px 12px rgba(34, 197, 94, 0.5);
}

.transaction.is_expense {
    background-color: rgb(254 226 226);
    border-color: rgb(239 68 68);
    transition: all .1s ease-in-out;
}

.transaction.is_expense:hover {
    background-color: rgb(249 168 168);
    border-color: rgb(239 68 68);
    box-shadow: 0 4px 12px rgba(239, 68, 68, 0.5);
}

.tranasction__amount {
    display: flex;
    align-items: center;
    gap: .7rem;
    font-weight: 600;
}

.transaction__description {
    text-align: center;
    align-self: center;
    font-weight: 600;
}

.category {
    color: #6a7282;
    font-size: .75rem;
    font-weight: 600;
}

.transaction__icons {
    opacity: 0;
    transition: .2s ease-in-out;
    justify-self: end;
    display: flex;
    gap: 3px;
}

.transaction:hover .transaction__icons {
    opacity: 1;
}

.transaction__icons .icon_btn {
    padding: 8px;
    border-radius: 50%;
    transition: .3s;
    border: transparent;
    background-color: transparent;
    color: #000;
}

.transaction__icons .icon_btn:hover,
.transaction__icons .icon_btn:focus {
    background-color: hsla(0, 0%, 80%, 0.5);
}

/* Offcanvas */
.offcanvas__title {
    text-transform: uppercase;
    font-size: 1.1rem;
    /* color: #f9fbfc; */
    margin-top: 20px;
}

/* Text */
.fs-sm {
    font-size: .75rem !important;
    color: #676f7e !important;
    font-weight: 400;
}

.text-green {
    color: #31cf39 !important;
    font-weight: 700;
}

.bg-foreground {
    background: var(--foreground);
    color: var(--altbackground);
    padding: 1.5rem 2rem;
    border-radius: .75rem;
    margin-bottom: 1rem;
}

.feature-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: .75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
}

.feature-icon--green {
    background-color: var(--foreground);
    color: #ffffff;
}

@media (min-width: 991px) {
    .btn-offcanvas {
        display: none;
    }
}

/* Media */
@media (max-width: 768px) {

    ::-webkit-scrollbar {
        display: none;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .sidebar:hover~.main-content,
    .sidebar.active~.main-content {
        left: 0;
        width: 95%;
    }

    .sidebar {
        top: 0;
        bottom: 0;
        left: -100%;
        z-index: 100;
        width: 100%;
        max-width: 400px;
        transition: all 0.5s ease;
    }

    .sidebar.active {
        left: 0%;
        width: 100%;
    }

    .main {
        padding-bottom: 1rem;
    }

    .main-content {
        border-radius: 1.5rem;
        height: calc(100vh - 100px);
        left: 0;
        width: 95%;
        margin: 0 auto;
    }

    .sidebar-toggle {
        margin-left: -264px;
        left: -100%;
    }

    .sidebar-toggle {
        left: -999%;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(169, 14%, 32%, 0.89);
        display: none;
        z-index: 90;
        transition: opacity 0.5s ease;
        opacity: 0;
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    .stats {
        margin-bottom: .5rem;
    }
}
