@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background: #f9fbfc;
    --background: #fafafa;
    --altbackground: #f2f5fb;
    --foreground: #465c58;
    --gold: #feb701;
    --aside-width: 400px;
}

body {
    background: var(--background);
    font-family: "Inter", sans-serif;
}

.gold_link {
    text-underline-offset: 0.375em;
    color: rgba(33, 37, 41, 0.75);
    transition: all .1s linear;
    font-weight: 550;
}

.gold_link:hover {
    color: var(--gold);
}

.btn-outline-gold {
    display: inline-block;
    text-align: center;
    border: 2px solid var(--gold);
    padding: .6rem 1.15rem;
    min-width: 135px;
    transition: all .2s ease;
    text-decoration: none;
    color: var(--altbackground);
    font-weight: 650;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
}

.btn-outline-gold:hover {
    background: var(--gold);
    color: #202020;
}

.box {
    background: #fff;
    border-radius: 12px;
    padding: 2rem;
    border: 1px solid #a7a7a7;
}

.box.box-green {
    background: var(--foreground);
    color: #fff;
    box-shadow: none;
}

.box__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
}


.btn-gold {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: .4rem .9rem;
    border-radius: 5px;
    border: 1px solid var(--gold);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    transition: all .2s ease-in-out;
    background-color: var(--gold);
    gap: .2rem;
}

.btn-gold:hover {
    color: var(--gold);
    background-color: #fff;
}

.btn-small {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 600;
}