{% load static %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7">
      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="col-md-7">
      {% if messages %}
        <!-- Контейнер для Toast сообщений -->
        <div class="toast-container">
          {% for message in messages %}
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="me-auto">Сповіщення</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body fw-semibold">{{ message }}</div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
