{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
{% endblock %}

{% block title %}
  Додати транзакцію
{% endblock %}

{% block content %}
  <section class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card p-3">
          <div class="card-body">
            <h2 class="box__title text-center fs-3">Додати транзакцію</h2>
            <form action="{% url 'tracker:create' %}" method="post">
              {% csrf_token %}
              <div class="input-group has-validation mb-3">
                <div class="form-floating {% if form.description.errors %}is-invalid{% endif %}">
                  <input type="text" name="description" class="form-control" value="{% if form.description.value %}{{ form.description.value }}{% endif %}" id="id_description" placeholder="" required />
                  <label for="id_description">Опис:</label>
                </div>
                {% if form.description.errors %}
                  {% for error in form.description.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                  {% endfor %}
                {% endif %}
              </div>

              <div class="input-group has-validation mb-3">
                <div class="form-floating {% if form.amount.errors %}is-invalid{% endif %}">
                  <input type="text" class="form-control {% if form.amount.errors %}is-invalid{% endif %}" name="amount" value="{% if form.amount.value %}{{ form.amount.value }}{% endif %}" id="id_amount" required placeholder="" step="0.01" />
                  <label for="id_amount">Сума:</label>
                </div>
                {% if form.amount.errors %}
                  {% for error in form.amount.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                  {% endfor %}
                {% endif %}
              </div>

              <div class="input-group has-validation mb-3">
                <div class="form-floating {% if form.category.errors %}is-invalid{% endif %}">
                  <select class="form-select" name="category" required id="id_category">
                    <option value="">Виберіть категорію</option>
                    <optgroup label="Категорії витрат">
                      {% for category in categories_expense %}
                        <option value="{{ category.pk }}">{{ category.title }}</option>
                      {% endfor %}
                    </optgroup>

                    <optgroup label="Категорії доходів">
                      {% for category in categories_income %}
                        <option value="{{ category.pk }}">{{ category.title }}</option>
                      {% endfor %}
                    </optgroup>
                  </select>
                  <label for="id_category">Категорія</label>
                </div>
                {% if form.category.errors %}
                  {% for error in form.category.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                  {% endfor %}
                {% endif %}
              </div>

              <div class="input-group has-validation mb-3">
                <div class="form-floating {% if form.created_at.errors %}is-invalid{% endif %}">
                  <input type="date" name="created_at" class="form-control" value="{% if form.created_at.value %}{{ form.created_at.value }}{% endif %}" id="id_created_at" placeholder="" required />
                  <label for="id_created_at">Дата транзакції:</label>
                </div>
                {% if form.created_at.errors %}
                  {% for error in form.created_at.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                  {% endfor %}
                {% endif %}
              </div>

              <div class="d-grid">
                <button type="submit" class="btn-gold">Додати</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block js %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Получаем текущую дату
      var today = new Date()
    
      // Форматируем её в формат YYYY-MM-01 (устанавливаем день как 01)
      var yyyy = today.getFullYear()
      var mm = (today.getMonth() + 1).toString().padStart(2, '0') // Добавляем ведущий ноль для месяца
      var dd = '01' // Устанавливаем день как 01, так как поле даты требует значение для дня
    
      var formattedDate = yyyy + '-' + mm + '-' + dd
    
      // Устанавливаем значение в поле с датой
      document.getElementById('id_created_at').value = formattedDate
    })
  </script>
{% endblock %}
