{% extends 'base.html' %}
{% load static %}

{% block title %}
Історія транзакцій
{% endblock title %}



{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <div class="col-header">
          <h1 class="col__title">Історія транзакцій</h1>

          <button class="btn-green btn-small" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Фільтр</button>
        </div>

        {% if grouped_transactions %}
          {% for created_at, transactions in grouped_transactions.items %}
            <div class="arhiv-card">
              <div class="arhiv-header">{{ created_at }}</div>
              <div class="arhiv-body">
                {% for transaction in transactions %}
                  <div class="arhiv__item">
                    <span class="arhiv__description">{{ transaction.description }}</span>
                    {% if transaction.status == 'income' %}
                      <span class="arhiv__amount text-green">{{ transaction.amount }} UAN</span>
                    {% else %}
                      <span class="arhiv__amount">-{{ transaction.amount }} UAN</span>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p class="fw-bold fs-5">Транзакції не знайдено</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Фільтр</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form action="{% url 'tracker:index' %}" method="get" class="row">
        
        <div class="col-12">
          <h6 class="offcanvas__title">Тип транзакції</h6>
          {% comment %} <a href="{% url 'tracker:index' %}?query=income" class="filters__text {% if 'income' in request.GET.query %}active{% endif %}">Прибуток</a>
          <a href="{% url 'tracker:index' %}?query=expense" class="filters__text {% if 'expense' in request.GET.query %}active{% endif %}">Витрати</a> {% endcomment %}
          <input type="radio" class="btn-check" name="status" id="btn-check-default" value="default" 
          {% if "default" in request.GET.status or not request.GET.status %}checked{% endif %}
          />
          <label class="btn btn-outline-dark mb-3" for="btn-check-default">Усі</label>
          
          <input type="radio" class="btn-check" name="status" id="btn-check-income" value="income" 
          {% if "income" in request.GET.status %}checked{% endif %}
          />
          <label class="btn btn-outline-dark mb-3" for="btn-check-income">Прибуток</label>

          <input type="radio" class="btn-check" name="status" id="btn-check-expense" value="expense" 
          {% if "expense" in request.GET.status %}checked{% endif %}/>
          <label class="btn btn-outline-dark mb-3" for="btn-check-expense">Витрати</label>
        </div>

        <div class="col-12">
          <h6 class="offcanvas__title">Категорія</h6>
          {% for category in categorys %}
            <input 
              type="checkbox" 
              class="btn-check" 
              name="category" 
              id="btn-check-{{ category.id }}" 
              value="{{ category.slug }}" 
              {% if category.slug in selected_categorys %}checked{% endif %}
            >
            <label class="btn btn-outline-dark mb-1" for="btn-check-{{ category.id }}">{{ category.title }}</label>
          {% endfor %}
        </div>

        <div class="col-12">
          <h6 class="offcanvas__title">Період</h6>
          {% for item in months %}
            <input type="radio" class="btn-check" name="month" id="btn-check-{{ item.month_num }}" value="{{ item.month_num }}" 
            {% if item.month_num == month %}checked{% endif %}
            />
            <label class="btn btn-outline-dark mb-3" for="btn-check-{{ item.month_num }}">{{ item.month_name }}</label>
          {% endfor %}
        </div>
        <div class="col-12 d-grid">
          <button type="submit" class="btn-green btn-small">Застосувати</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
