{% extends 'base.html' %}
{% load static %}

{% block title %}
Історія транзакцій
{% endblock title %}

{% block content %}
  <div class="container mt-4">
    {% comment %} Header {% endcomment %}
    <div class="row justify-content-center mb-4">
      <div class="col-lg-8">
        <div class="row">
          <div class="col">
            <h1 class="fs-2 fw-semibold mb-0">Історія транзакцій</h1>
          </div>
          <div class="col-12 col-sm-auto mt-4 mt-sm-0">
            <!-- Action -->
            <button class="btn-green btn-small btn-block w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Фільтр</button>
          </div>
        </div>
      </div>
    </div>

    {% comment %} Content {% endcomment %}
    <div class="row justify-content-center">
      <div class="col-8">
        {% if grouped_transactions %}
          {% for date, transactions in grouped_transactions.items %}
            <div class="row gy-3 mb-3">
                <h2 class="fs-5 fw-semibold mb-0 text-gray-700">{{ date }}</h2>
                {% for transaction in transactions %}
                  <div class="col-12">
                    <div class="transaction {% if transaction.status == 'income' %}is_income{% else %}is_expense{% endif %}">          
                      <!-- Верхний блок -->
                      <div class="flex justify-between items-center">
                          <p class="text-lg font-medium">{{ transaction.description }}</p>
                      </div>

                      <!-- Нижний блок -->
                      <p class="text-sm text-gray-600">
                          {{ transaction.category.name }} 
                          <span class="font-bold">{% if transaction.status == 'income' %} +{% else %} -{% endif %}{{ transaction.amount }} грн</span>
                      </p>
                    </div>
                  </div>
                {% endfor %}
            </div>
          {% endfor %}
        {% else %}
          <p class="fw-bold fs-5">Транзакції не знайдено</p>
        {% endif %}
      </div>
    </div>    

  

  {% comment %} Filters {% endcomment %}
  <aside class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Фільтр</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form action="{% url 'tracker:index' %}" method="get" class="row">
        
        <div class="col-12">
          <h6 class="offcanvas__title">Тип транзакції</h6>
          {% comment %} <a href="{% url 'tracker:index' %}?query=income" class="filters__text {% if 'income' in request.GET.query %}active{% endif %}">Прибуток</a>
          <a href="{% url 'tracker:index' %}?query=expense" class="filters__text {% if 'expense' in request.GET.query %}active{% endif %}">Витрати</a> {% endcomment %}
          <input type="radio" class="btn-check" name="status" id="btn-check-default" value="default" 
          {% if "default" in request.GET.status or not request.GET.status %}checked{% endif %}
          />
          <label class="btn btn-outline-dark mb-3" for="btn-check-default">Усі</label>
          
          <input type="radio" class="btn-check" name="status" id="btn-check-income" value="income" 
          {% if "income" in request.GET.status %}checked{% endif %}
          />
          <label class="btn btn-outline-dark mb-3" for="btn-check-income">Прибуток</label>

          <input type="radio" class="btn-check" name="status" id="btn-check-expense" value="expense" 
          {% if "expense" in request.GET.status %}checked{% endif %}/>
          <label class="btn btn-outline-dark mb-3" for="btn-check-expense">Витрати</label>
        </div>

        <div class="col-12">
          <h6 class="offcanvas__title">Категорія</h6>
          {% for category in categorys %}
            <input 
              type="checkbox" 
              class="btn-check" 
              name="category" 
              id="btn-check-{{ category.id }}" 
              value="{{ category.slug }}" 
              {% if category.slug in selected_categorys %}checked{% endif %}
            >
            <label class="btn btn-outline-dark mb-1" for="btn-check-{{ category.id }}">{{ category.title }}</label>
          {% endfor %}
        </div>

        <div class="col-12">
          <h6 class="offcanvas__title">Період</h6>
          {% with month_selected=date.0 year_selected=date.1 %}
            {% for date in date_transactions %}
              <input type="radio" class="btn-check" name="date" id="btn-check-{{ date|date:"F" }}" 
                  value="{{ date|date:"m Y" }}" 
                  {% if date|date:"m" == month_selected and date|date:"Y" == year_selected %}checked{% endif %} />
              <label class="btn btn-outline-dark mb-1" for="btn-check-{{ date|date:"F" }}">{{ date|date:"F Y" }}</label>
            {% endfor %}
          {% endwith %}
        </div>
        <div class="col-12 d-grid">
          <button type="submit" class="btn-green btn-small">Застосувати</button>
        </div>
      </form>
    </div>
  </aside>
{% endblock %}
